body {
    background-color: papayawhip;
    padding: 20px 10px;
    margin: 20px;
}

h1 {
    color: rgb(59, 64, 114);
}

section {
    height: auto;
    width: auto;
    padding: 5px;
    display:inline-flex;
    border: 5px solid rgb(99, 142, 148);
    border-style: inset;
    margin: 10px;

}

h2 {
    font: Arial, Tahoma, sans-serif;
    color: chocolate;
}

h2, li {
    font:x-large;
}
